<div class="modal-content" id="sector-modal">
    <div class="modal-body" style="padding: 0; margin: 0;">
        <!-- Modal custom content -->
        <div class="content-body" style="padding: 0; margin: 0;">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">User Creation</h4>
                            </div>
                            <div class="card-body">
                                <div class="form-validation">
                                    <form class="form-valide" action="#" method="post">
                                        <div class="row">
                                            <div class="col-xl-12">

                                                <div class="form-group row">
                                                    <label class="col-lg-4 col-form-label" for="val-phone">Sector name
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-6">
                                                        <input [(ngModel)]="sectorData.name" type="text" class="form-control" id="val-name" name="val-name" placeholder="Sprat">
                                                    </div>
                                                </div>
                                                <div class="form-group row" style="justify-content: end;">
                                                    <button type="button" class="btn btn-primary" (click)="cancel()">Cancel</button>
                                                    <button id="submitButton" type="button" class="btn btn-primary" (click)="createSector()" style="margin-left: 15px;">Submit</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>