<mat-sidenav-container style="height: 100%">
    <mat-sidenav #sidenav mode="push" [(opened)]="opened">
        <app-admin-sidebar [currentComponent]="componentName"></app-admin-sidebar>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-order-view (toggleSidenav)="sidenav.toggle()"></app-order-view>
    </mat-sidenav-content>
</mat-sidenav-container>

<!--<div id="main-wrapper" style="height: 100%; width: 100%;">
    <app-admin-sidebar class="left"></app-admin-sidebar>
    <app-order-view class="right"></app-order-view>
</div>-->
