<div class="justify-content-center">
    <mat-tab-group [backgroundColor]="tabBackgorund" class="login-navbar justify-content-center">
        <mat-tab label="Admin / Manager login">
            <app-manager-login class="d-block"></app-manager-login>
        </mat-tab>
        <mat-tab label="Waiter">
            <app-worker-login class="d-block"></app-worker-login>
        </mat-tab>
        <mat-tab label="Bartender">
            <app-worker-login class="d-block"></app-worker-login>
        </mat-tab>
        <mat-tab label="Cook">
            <app-worker-login class="d-block"></app-worker-login>
        </mat-tab>
    </mat-tab-group>

</div>
